body{
    margin:0;
    padding:0;
    background-color:#AF8260;
}
a{
    text-decoration:none;
    color:inherit;
}
.navbar{
    margin:0;
    padding:20px;
    background-color:#E4C59E;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    padding:0 20px;
}
.navbar ul a{
    text-decoration: none;
font-size: 1.5rem;
color:#803D3B;
text-transform: uppercase;
}
.navbar ul a:hover{
    color:#322C2B;
}

.dashboard{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    padding:50px 20px;
    
   
}
.dash-item{
    padding:20px;
    border: 1px solid #322C2B;
    border-radius: 20px;
    min-width:15vw;
    min-height:20vh;
    box-shadow: 10px 8px 20px 2px #270802;
    ;
}

.dash-item:hover{
    color:#E4C59E;
    cursor: pointer;
}

.dash-item h2{
    font-size: 2rem;
    text-align: center;
}
.dash-item p{
    padding-top:12px;
    font-size: 2rem;
    text-align: center;
}

button{
    margin:10px;
    padding:10px;
    font-size: 0.8rem;
    border-radius: 8px;
    border-style: none;
    text-transform: uppercase;
    cursor:pointer;
}

button.add{
    background-color: #739ac2;
}
button.add:hover{
    background-color:#87b5e2 ;
   
}
button.update{
    background-color: #36b495;
}
button.update:hover{
    background-color: #33c7a2;
}
button.update:active{
    background-color: #37d6af;
}
button.delete{
    background-color: #FF204E;
}
button.delete:hover{
    background-color: #fa4e71;
}
button.delete:active{
    background-color: #fd6382;
}
button.submit{
    background-color: #79AC78;
}
button.submit:hover{
    background-color: #85bd84;
}
button.submit:active{
    background-color: #90cc8f;
}

table{
    width:100%;
    padding:40px;
    border-collapse: collapse;
}
tbody{
    border-spacing: 0;
}

th{
    text-align: left;
    padding:12px;
   
}
td{
    padding:12px;
    
}
tr:nth-child(even){
    background-color: #AF8F6F;
}

#form{
    margin:40px;
    padding:20px;

}
#form div{
    margin:20px 0;
    padding:10px 0;
    display: flex;
    
}

#form label{
   width:8vw;
}

#form input,select{
    max-width:60%;
    flex-grow: 1;
    font-size: 16px;
    padding:4px;
    font-family: Raleway;
    border-radius: 8px;
    border-style: none;
 }

input.submit{
color:rgb(192, 192, 192);
background-color: #68342a;
width:300px;
 }

 input.submit:hover{
    color: rgb(226, 225, 225);
 }
 input.submit:active{
    color: rgb(255, 255, 225);
    background-color: #814134;

 }

 table.extra-table{
    margin-top:50px;
 }

 .extra-table th, .extra-table td {
    text-align: center;
    font-size: 1.3rem;
 }

footer{
    width:100%;
    padding:12px 0 ;
    text-align: center;
    
    background-color: #803D3B;
}
